{% extends "layout.html" %}
{% import "macros.html" as macros %}

{% block page_content %}
    <div>
        {% for action in action_list %}
            <div class="p-2 mb-2
                {% if loop.index0 < action_index %}
                    bg-success
                {% elif loop.index0 == action_index %}
                    bg-primary
                {% else %}
                    bg-secondary
                {% endif %}
                text-white
            ">
                {{ action.type }} {{ action.action }} {{ action.id or "new" }} of {{ action.issue }}
                <div class="d-none">{{ action.values }}</div>
            </div>
        {% endfor %}
    </div>
    {% if finished %}
    <a class="btn btn-link" href="/">Back to dashboard</a>
    {% else %}
    <script>
        window.addEventListener("load", () => {
            document.getElementById("nextstep").submit();
        });
    </script>
    {% endif %}

    <form method="POST" id="nextstep" class="d-none"></form>
{% endblock %}
