{% extends "layout.html" %}

{% block page_head %}
{{ super() }}
<style>
    .pairing-row:not(:first-child) {
        border-top: 1px solid black;
    }
    .code {
        font-family: monospace;
    }
</style>
{% endblock %}

{% block page_content %}
        <div class="mb-3">
            <h1>Logs of 7 days</h1>
            <a href="{{ modify_query(delta=delta-7) }}" class="btn btn-secondary">Previous week</a>
            <a href="{{ modify_query(delta=None) }}" class="btn btn-secondary">Jump to now</a>
        </div>
        {% for day, rows in days %}
        <div class="card mb-3">
            <div class="card-header">
                <h3>{{ day | format_datetime("%A, %Y-%m-%d") }}</h3>
            </div>
            <div class="card-body">
            {% for log_comparison in rows %}
                {% set toggl = log_comparison.toggl %}
                {% set jira = log_comparison.jira %}
                <div class="pairing-row">
                    <div class="row">
                        <div class="col-4">
                            {% if toggl != None %}
                            <div><strong class="d-block">{{ toggl.comment }}</strong></div>
                            <div><small>time: {{ toggl.start | local | time }} - {{ toggl.stop | local | time }}</small></div>
                            <div><small>id: {{ toggl.tag.id }}</small></div>
                            <div><small>issue: {{ toggl.issue }}</small></div>
                            <div><small>project: {{ toggl.tag.project or "\u2013no project\u2013"}}</small></div>
                            <div><small>billable: {{ toggl.tag.billable }}</small></div>
                            {% endif %}
                        </div>

                        <div class="col-4">
                            {% if jira != None %}
                            <div><strong class="d-block">{{ jira.comment }}</strong></div>
                            <div><small>time: {{ jira.start | local | time }} - {{ jira.stop | local | time }}</small></div>
                            <div><small>id: {{ jira.tag.id }}</small></div>
                            <div><small>issue: {{ jira.issue }}</small></div>
                            {% endif %}
                        </div>

                        <div class="col-4">
                            {% for action in log_comparison.actions %}
                            <div class="text-{{ action.level }}">
                                <div><small>{{ action.level }}: {{ action.message }}</small></div>
                                <div><small>{{ action.action }}: {{ action.params }}</small></div>
                            </div>
                            {% endfor %}
                            <div><small>dist: {{ log_comparison.dist }}</small></div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        {% endfor %}
{% endblock %}

{% block page_body %}
    {{ super() }}
    <div class="m-3 code">{{ model | pformat | pre }}</div>
{% endblock %}
