{% extends "layout.html" %}
{% import "macros.html" as macros %}

{% block page_head %}
{{ super() }}
<style>
    .pairing-row:not(:first-child) {
        border-top: 1px solid black;
    }
    .code {
        font-family: monospace;
    }
    .card-header .btn {
        margin-top: -10px;
        margin-left: 1rem;
    }
    .sneaky-form {
        display: inline-block;
        margin: 0;
    }
</style>
{% endblock %}

{% block page_content %}
        <div class="mb-3">
            <h1>Logs of 7 days</h1>
            <a href="{{ modify_query(delta=delta-7) }}" class="btn btn-secondary">Previous week</a>
            <a href="{{ modify_query(delta=None) }}" class="btn btn-secondary">Jump to now</a>
            <form action="/attempt-shutdown" method="post" class="sneaky-form">
                <button type="submit" class="btn btn-secondary">Shutdown</button>
            </form>
        </div>
        {% for daydef in days %}
            {% set day = daydef.day %}
            {% set rows = daydef.pairings %}
            <div class="card mb-3">
                <div class="card-header">
                    <h3 class="d-inline">{{ day | format_datetime("%A, %Y-%m-%d") }}</h3>
                    <form method="POST" class="d-inline">
                        <input type="hidden" name="action" value="sync">
                        <input type="hidden" name="day" value="{{ daydef.key }}">
                        {% set has_actions = (daydef.actions | length) > 0 %}
                        {% set sync_button_color = 'btn-primary' if has_actions else 'btn-secondary' %}
                        <button class="btn {{ sync_button_color }} btn-sm" type="submit">Sync ({{ daydef.actions | length }} actions)</button>
                    </form>
                    <form method="POST" class="d-inline">
                        <input type="hidden" name="action" value="refresh">
                        <input type="hidden" name="day" value="{{ daydef.key }}">
                        <button class="btn btn-secondary btn-sm" type="submit">Refresh day</button>
                    </form>
                </div>
                <div class="card-body">
                {% for log_comparison in rows %}
                    {% set toggl = log_comparison.toggl %}
                    {% set jira = log_comparison.jira %}
                    <div class="pairing-row">
                        <div class="row">
                            <div class="col-4">
                                {% if toggl != None %}
                                <div><strong class="d-block">{{ toggl.comment }}</strong></div>
                                <div><small>time: {{ toggl.start | local | time }} - {{ toggl.stop | local | time }}</small></div>
                                <div><small>id: {{ toggl.tag.id }}</small></div>
                                <div><small>issue: {{ toggl.issue }}</small></div>
                                <div><small>jira project: {{ toggl.tag.jira_project }}</small></div>
                                <div><small>project: {{ toggl.tag.project_name or "\u2013no project\u2013"}} ({{ toggl.tag.project_pid }})</small></div>
                                <div><small>billable: {{ toggl.tag.billable }}</small></div>
                                {% endif %}
                            </div>

                            <div class="col-4">
                                {% if jira != None %}
                                <div><strong class="d-block">{{ jira.comment }}</strong></div>
                                <div><small>time: {{ jira.start | local | time }} - {{ jira.stop | local | time }}</small></div>
                                <div><small>id: {{ jira.tag.id }}</small></div>
                                <div><small>issue: {{ jira.issue }}</small></div>
                                {% endif %}
                            </div>

                            <div class="col-4">
                                {% for message in log_comparison.messages %}
                                <div class="text-{{ message.level }}">
                                    <div><small>{{ message.message }}</small></div>
                                </div>
                                {% endfor %}
                                <div><small>dist: {{ log_comparison.dist }}</small></div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        {% endfor %}
{% endblock %}
